FLASK_ENV=development
SECRET_KEY=super_secret_please_change
JWT_SECRET_KEY=another_secret_change_me
DB_USER=root
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=3306
DB_NAME=entregas_db
JWT_ACCESS_TOKEN_EXPIRES_MIN=15
CORS_ORIGINS=http://localhost:5173