# === ENTORNO VIRTUAL (no subir tu venv local) ===
.venv/
venv/
ENV/
env/
*.env
*.env.*

# === PYTHON ===
*.egg-info/
.eggs/
*.egg
dist/
build/
pip-wheel-metadata/
.coverage
.tox/
.mypy_cache/
.pytest_cache/
.cache/
.ipynb_checkpoints/